<h1 id="list-title"><%=@user.username%>'s Blog</h1>
<br><br>
<% @user.articles.each do |article| %>

<div class="demo-card-wide mdl-card mdl-shadow--2dp" id="article-card">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%=  article.title %></h2>
  </div>
  <div class="mdl-card__supporting-text" id="card-text">
    <p id="text"><%=  article.description %></p>
  </div>
  <div class="mdl-card__menu">
    <% if user_signed_in? %>
      <% if current_user.id == article.user_id %>
        <%= link_to 'Delete',  article,  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
      </div>
</div>

<br><br>

<% end %>