<div id="second-color-div">
<br><br><br>
<br><br>
  <%= image_tag("blogsarecool.png", class:"second-title")%>
  <br>
  <form action="/" accept-charset="UTF-8" method="get" >
<div class="mdl-textfield mdl-js-textfield" id="search-div">
  <input type="text" name="search" id="search-field" class="mdl-textfield__input">
  <label class="mdl-textfield__label" for="search-field">Text...</label>
</div>
</form>

</div>
<br><br>
<h1 id="list-title">Just a title</h1>
<br>

<br><br><br>
<% @users.each do |user| %>
  <p><%= link_to user.username, profiles_path(user.id), id:"user-link" %></p>
  <p><%= user.articles.count%> Articles </p>
<% end %>
<div class="footer">
  <%= link_to image_tag("github-logo.png", class:"github"), "http://www.github.com/amitleshed" %>
</div>
