<div id="second-color-div">
<br><br><br>
<br><br>
  <%= image_tag("blogsarecool.png", id:"second-title",class:"animated fadeInUp")%>
  <br>
</form>

</div>
<br><br><br>

<div class="search-form">
<div class="input-field col s6">
<form action="/" accept-charset="UTF-8" method="get" >
  <input type="text" name="search">
  <label for="icon_prefix">Username...</label>
</form>
</div>
</div>

<%= render 'article_card_welcome' %>

<br>
<% @users.each do |user| %>
<br><br>
  <p><%= link_to user.username, profiles_path(user.id), id:"user-link" %></p>
  <p style="opacity:0.3;"><%= user.articles.count%> Articles </p>
  <br><br>
  <p id="border-small" style="width:32%;"></p>
<% end %>


<span id="border" style="width:32%; color: #9e9e9e !important;"></span>
<div class="footer">
  <a href="www.github.com/amitleshed"><i class="fa fa-github" id="github" aria-hidden="true"></i></a>
</div>