<div id="second-color-div">
<br><br><br>
<br><br>
<div style="text-align: center;" class="animated fadeInUp">
<% if user_signed_in? %>
<span id="slogan" style="color:#fff;">Check your tags, Meet your people.</span>
<% else%>
<span id="slogan" style="color:#fff;">You love blogs, sign up.</span>
<% end %>
</div>
  <br>
</form>

</div>
<br><br><br>

<nav class="search-form">
  <div class="nav-wrapper">
    <form action="/" accept-charset="UTF-8" method="get">
      <div class="input-field">
        <input name="search" id="search" type="search" required >
        <label for="search"><i class="material-icons">search</i>Search for username</label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>

<%= render 'article_card_welcome' %>

<br>

<div class="footer">
<div style="text-align: center;">
  <a href="http://www.github.com/amitleshed" ><i class="fa fa-github" id="github" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/in/amit-leshed-4a980312b?trk=nav_responsive_tab_profile_pic"><i class="fa fa-linkedin-square" id="github" aria-hidden="true"></i></a>
</div>
</div>
<div class="second-footer">
  <div style="text-align: center;">
  <br>
    <span style="color:#e0e0e0; opacity: 0.8;">Amitleshed@icloud.com</span><br>
    <span style="color:#e0e0e0; opacity: 0.8;">BlogsAreCool © 2016</span>
  </div>
</div>