/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "materialize";
 @import "font-awesome";
 @import "animate";
 @import '*';

/*$green: #4db6ac;
$red: #d50000;*/

        @media only screen and (max-width: 1000px) {
            #second-title{
            width: 50% !important;
            display: block;
            margin-left: auto;
            margin-right: auto;
            }

            #img{
            display: block;
            width: 20%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          }

          #img-big{
            display: block;
            width: 20%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          }
          #img-welcome{
            display: inline;
            width: 10%;
            margin-left: 5%;
            border-radius: 50%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          }
          #img-sidenav{
            width: 100% !important;
          }

          #article-card{
            z-index: 0 !important;
            display: block !important;
            margin-left: auto;
            margin-right: auto;
            width: 90% !important; 
          }
          .search-form{
            width: 90%;
          }
          .search-navbar{
            visibility: hidden;
          }
          #user-link-no-img{
            margin-left: -20% !important;
          }
          #users-about{
            width: 90% !important;
          }
          #hashtag{
            margin-left: 5% !important;
          }
          #hashtag-page-card{
            width: 100%;
          }
          #slogan{
            font-size: 30px;
          }
          #show-page-fixed-div{
            margin-left: auto;
            margin-right: auto;
            position: relative;
            width: 50%;
           }
        }

 body{
  font-family: 'Ubuntu', sans-serif !important;
  margin-top: 5em;
  background-color: #e0e0e0;
 }

#title{
  position: absolute;
  display: inline-block;
  height: 3.7em;
  width: 3.7em;
  margin-left: 25px;
}
 h2{
  text-align: center;
  font-family: 'Bitter', serif;
  color: #616161 !important;
  letter-spacing: 5px;
 }
  h1{
  text-align: center;
  font-family: 'Bitter', serif;
  color: #BDBDBD !important;
  letter-spacing: 5px;
 }

p{
  text-align: center;
}
#form-label{
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 100;
    text-align: center;
}

ul{
  top: 0;
  margin: 0;
  background-color: #757575 !important; 
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 1.0;
}

#add-btn{
    background-color: #4db6ac !important;
    z-index: 1;
    position:fixed;
    bottom:10px;
    right:10px;
}

li{
  text-decoration: none;
  margin-top: 16px;
  margin-right: 40px;
  display: block;
  float: right;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}
#nav-btns{
  text-decoration: none;
  color: #fff;
}
#user-btn{
  color: #fff;
  font-size: 30px;
}

#glyphicons{
  text-decoration: none;
  color: #4db6ac !important;
}
#text-field{
  resize: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50% !important;
}
#title-field{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50% !important;
}
.article-form{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align:center !important;
}
.devise-field{
  width: 100%;
}
#img-sidenav{
  display: block;
  width: 170%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.search-navbar{
  background-color: #757575;
  display: block;
  margin-bottom: 2em;
  width:50% !important;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  box-shadow: none;
  border-bottom: 1px solid #757575;
}
#hashtag{
  text-decoration: none;
  background-color: white;
  opacity: 0.7;
  margin-left: 25%;
}
::-webkit-input-placeholder {
   color: black;
   opacity: 0.3;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
   opacity: 0.3;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
   opacity: 0.3;  
}

:-ms-input-placeholder {  
   color: black;
   opacity: 0.3;  
}
