// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#card-text{
}
#article-card{
  z-index: 0 !important;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  width: 50% !important; 
}
#margin-div-card{
  margin-left: 9%;
}
#text{
    text-align: justify;  
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last: right;
}
#border{
  border-top: solid thin #E0E0E0;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
#comment-username{
  color: #FF1744;
  opacity: 0.6;
  &:hover{
    opacity: 0.9;
  }
}
#comment-field{
  margin-left: auto;
  margin-right: auto;
  width: 60% !important;
  height: 80px;
  resize: none;
  focus: none;
}
 #comment-field:focus {
outline: 0;
}
#comment-user-link{
  text-decoration: none;
  color: #d50000 !important;
}
#comment-created-at{
  margin-top: -24px;
  font-size: 10px;
  opacity: 0.5;
  letter-spacing: 2px;
}
#img-big{
  display: block;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#delete-comment{
  float: right;
  text-decoration: none;
   opacity: 0.6;
  color: #d50000 !important;
  &:hover{
    opacity: 0.9;
  }
}