// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user-link{
  text-align: center;
  text-decoration: none !important;
  font-size: 230%;
  color: #FF1744;
  font-family: 'Lobster', cursive;
  display: inline-block;
}
#second-title{
  width: 25% !important;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
#second-color-div{
  margin-top: -5em;
  height: 15em;
  background-color: #455A64;
}
#list-title{
  font-family: 'Lobster', cursive;
  color: #90A4AE;
  letter-spacing: 5px;
}
#search-div{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#search-btn{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer{
  width: 100%;
  height: 40px;
  background-color: #FF1744;
  bottom: 0;
  margin-top: 20em;
}
#github{
  padding-top: 6px;
  display: block;
  height: 2em;
  width: 2em;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}
.mdl-textfield__input{
  color: #BDBDBD !important;
  border-bottom: 1px solid #BDBDBD !important;
}
.mdl-textfield__label{
  color: #BDBDBD !important;
}
#search-field:focus{
  outline: 0;
}
#img-small{
  display: block;
  width: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#border-small{
  border-top: solid thin #E0E0E0;
  width:24%;
  margin-left: auto;
  margin-right: auto;
}